@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';


*{
 font-family: "Playfair Display", serif;
}


.mySwiper {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}


.mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}


.mySwiper .swiper-slide img {
  border-radius: 1rem; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); 
  width: 100%;
  height: 16rem; 
  object-fit:cover; 
}
